<template>
  <button @click="handleClick">{{ label }}</button>
</template>

<script>
export default {
  props: {
    label: String,
    value: String,
  },
  methods: {
    handleClick() {
      this.$emit("vote-button-click", this.value);
    },
  },
};
</script>

<style scoped>
    button {
        background-color: #333;
        color:white;
        border-radius: 6px;
        padding:5px;
    }
</style>