<template>
    <ul>
        <li v-for="book in books" :key="book.id">
            <h3>{{ book.title }} </h3>
            <router-link :to="{ name: 'book-details', params: { id: book.id }}">
                READ
            </router-link>
        </li>  
    </ul>
</template>

<script>
import axios from "axios";
export default {
    data(){
        return {
            books: []
        }
    },
    mounted() {
        axios.get("http://localhost:3000/books").then((response) => {
            console.log(response.data);
            this.books = response.data;
        }).catch((error) => {
            console.log("ERROR!!! " + error.response);
        });
    }
}
</script>

<style scoped>
li {
  list-style: none;
}
</style> 