<template>
  <div>
    <h2>{{title}}</h2>
    <h3>{{author}}</h3>
    <p>{{description}}</p>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["id"],
  data() {
    return {
        title: "",
        author: "",
        description: "",
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/books/" + this.id)
      .then((response) => {
          //console.log(this);
          this.title = response.data.title;
          this.author = response.data.author;
          this.description = response.data.description;
      })
      .catch((error) => {
          //console.log("ERROR!!! " + error.response);
          console.log(error);
      });
  }
}
</script>

<style>

</style>